header{
  padding: 40px;
  text-align: center;
  margin: 20px 0;
  font-size: 20px;
  background-color: white;
  box-shadow: rgba(30, 30, 93, 0.1) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  color: var(--gray-700)
}


header>span{
  color:var(--blueLogo);
  font-style: oblique;
  font-weight: bold;
}

.nl-c{
  text-align: center;
}
.nl{
  width: 300px;
}


@media(max-width:900px){
  header>p{
    font-size: 17px;
  }
}