footer{
	background-color: var(--gray-dark);
	color: var(--gray-100);
	padding: 10px;
	  box-shadow: -2px 195px 0px 200px var(--gray-dark);
	  display: flex;

}

footer>a{
/*	color: var(--gray-100);*/
}



.img111{
	width: 170px;
	margin-right: 20px;
		margin-bottom: 40px;

}



@media(max-width:900px){
	footer{
		font-size: 14px;
		flex-direction: column;
		
	}


.img111{
		margin: 40px 0;

}
}
