

:root {
   --blueLogo:rgb(44,64,157);
   --blueLogo2:rgb(48,48,114);
   --darkLogo: rgb(38,39,41);
   --darkLogo2: rgb(94,89,87) ;
}


body{
   background-image: linear-gradient(315deg, #d5ddf8, #fff 57%);
}

h1{
  color: var(--blueLogo);
}

h2{
   color: var(--blueLogo2) ;
}

h3{
   color: var(--darkLogo);
}

h4{
   color: var(--darkLogo2);
}

div{
   height: 100px;
}

.uno{
      background-color: var(--blueLogo);
}
.dos{
   background-color: var(--blueLogo2);
}
.tres{
   background-color: var(--darkLogo);
}
.cuatro{
   background-color: var(--darkLogo2);
}